.class1 {
	color: #333BD0;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	text-decoration: none;
	text-indent: 25px;
	letter-spacing: 1px;
	word-spacing: 5x;
}
